node_modules/

upload/hospitales/**.jpeg
upload/hospitales/**.jpg
upload/hospitales/**.png
upload/hospitales/**.gif
upload/hospitales/**.JPG
upload/hospitales/**.PNG

upload/medicos/**.jpeg
upload/medicos/**.jpg
upload/medicos/**.png
upload/medicos/**.gif
upload/medicos/**.PNG
upload/medicos/**.JPG

upload/usuarios/**.JPG
upload/usuarios/**.jpeg
upload/usuarios/**.jpg
upload/usuarios/**.PNG
upload/usuarios/**.png
upload/usuarios/**.gif